<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.aniwag.mapper.AppMapper">

	<insert id="create">	
		INSERT INTO TBL_APP
		(app_key, mem_id)
		VALUES
		(#{app_key} #{mem_id})	
	</insert>
	
	<select id="read">
		SELECT * FROM TBL_APP
		WHERE mem_id = #{mem_id}			
	</select>
	
	<update id="update">
		UPDATE TBL_APP 
		SET (app_key = #{app_key}, mem_id = #{mem_id})
		WHERE mem_id = #{mem_id}	
	</update>


</mapper>