<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aniwag.mapper.GPSMapper">

	<insert id="insert">
		INSERT INTO tbl_gps (gps_tracker_key, gps_latitude,
		gps_longitude)
		VALUES(#{gps_tracker_key}, #{gps_latitude},
		#{gps_longitude})
	</insert>

	<select id="getList" resultType="com.aniwag.domain.GPSVO">
		SELECT gps_latitude,
		gps_longitude, gps_time
		FROM tbl_gps
		WHERE gps_tracker_key =
		#{gps_tracker_key}
		ORDER BY gps_time desc
	</select>

	<insert id="create">
		INSERT INTO tbl_gps_tracker (gps_tracker_key)
		VALUES(#{gps_tracker_key})

	</insert>

	<update id="register">
		UPDATE tbl_gps_tracker
		SET mem_id = #{mem_id}, gps_tracker_name = #{gps_tracker_name}
		WHERE gps_tracker_key = #{gps_tracker_key}
	</update>




</mapper>